<!-- our base file just has our log out buttom which appears on every page! -->
<!-- and a section to show warning messages (ie: 'please fill our entire form before submitting') -->

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Login Form{% endblock %}</title>
	</head>
	<body>
		{% if "username" in session %}
			Logged in as {{ session["username"] }}, <a href="{{ url_for("signout") }}">click here to logout!</a>
			<br />
			<br />
		{% endif %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes">
					{% for m in messages %}
						<li>{{ m }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block body %}
		{% endblock %}
	</body>
</html>