<!DOCTYPE html>
<html>

<head>
	<title>Welcome to Your Finance Tracker</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/hello.css')}}">
</head>

<body>
	<h1 id="title">Welcome {{ username }}, this is your Finance Tracker!</h1>
	<div id="finimg"><img src="{{url_for('static', filename='images/finance.jpg')}}" alt=""></div>
	<br>
	<div class="buttons">
		<p><button type="button" onclick="document.location='/record'">Record Expenses</button></p>
		<p><button type="button" onclick="document.location='/track'">Track Budgets</button></p>
	</div>
	<div class="buttons">
		<p><button type="button" onclick="document.location='/signout'">Sign Out</button></p>
	</div>
</body>

</html>